body {
  background-color: #e3ffce;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset;
}